extends layout

block content
  h1= title
  h2 Our mission is to provide high-quality education and personalized guidance to empower students academically and beyond. We believe that education is the key to unlocking a world of opportunities, and we are dedicated to making that journey as enriching as possible for our students.
